<h1>Update your Toy</h1>

<%= simple_form_for @toy do |f| %>
  <%= f.input :name, label: 'Toy Name', error: 'Toy Name is mandatory, please specify one' %>
  <%= f.input :description, label: 'Toy Description' %>
  <%= f.input :price, label: 'Price' %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>
