<div class="card-category" style="background-image: linear-gradient(rgba(250,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/premium-photo/warm-orange-purple-grunge-background-with-cement-faint-texture-marble-gradient_28629-604.jpg)">
  Here are your toys!
</div>

<div class='container'>
  <div class="cards">
    <div class="card-trip" style='background-image: url(fireworks2.jpg);background-size: cover;'>
      <div class="card-trip-infos">
        <div>
          <button><h1 data-bs-toggle="modal" data-bs-target="#newToy">Create a New Toy</h1></button>
        </div>
      </div>

      <div class="modal fade" id="newToy" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">"Create new toy"</h5>
            </div>

            <div>
              <div style="width:250px;text-align: center;">
                <%= simple_form_for [@toy] do |f| %>
                  <%= f.input :name, label: 'Toy Name', error: 'Toy Name is mandatory, please specify one' %>
                  <%= f.input :description, label: 'Toy Description' %>                    <%= f.input :price, label: 'Price' %>
                  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                  <%= f.button :submit %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% @user_toys.each do |toy| %>
      <div class="card-trip">
        <%= cl_image_tag toy.photos.first.key, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toy.name, toy_path(toy) %></h2>
            <% if toy.listed %>
              <p><%= '✅ This toy is listed for bookings.' %></p>
            <% end %>
          </div>

          <%#= link_to image_tag("delete.jpg"), toy_path(toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, :class => "card-trip-user avatar-bordered" %>
          <a data-turbo-method="delete" data-turbo-confirm="Are you sure?" href="/toys/27"><img src="/assets/delete.jpg" class="card-trip-user avatar-bordered" ></a>
        </div>
      </div>
      <% end %>
  </div>
</div>

