
<%# @toy.photos.each do |photo| %>
    <%#= cl_image_tag photo.key, crop: :thumb %>
<%# end %>
<%#= @toy.name %>
<%#= link_to "Delete Toy", toy_path(@toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<div class='container d-flex toy-container'>
  <%# <% @toy.photos.each do |photo| %>
    <%# <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%# <% end %>

  <div id="toyCarousel" class="carousel slide m-5" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#toyCarousel" data-slide-to="0" class="active"></li>
      <% (@toy.photos.length-1).times do |i| %>
        <li data-target="#toyCarousel" data-slide-to=<%=i+1%>></li>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% @toy.photos.each_with_index do |photo, i| %>
          <div class="<%= i > 0 ? "carousel-item" : "carousel-item active" %>">
            <%= cl_image_tag photo.key, width: 600, crop: :fill, class: "carousel-image d-block w-100"%>
          </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#toyCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#toyCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="m-5">
      <h1><%= @toy.name %></h1>

      <div class="toy-details">
        <p><%= @toy.description %></p>
      </div>
      <div class="toy-options">
        <div>
          <p>
            <% if @toy.listed %>
              <%= "Available for "%>
              <span class="toy-price"><%="$#{@toy.price}" %></span>
            <% else %>
              <%= "Not available 😔 "%>
            <% end %>
          </p>
        </div>

        <div>
          <% unless current_user.toys.where(id: params[:id]).empty? %>
            <%= link_to "Delete Toy", toy_path(@toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-flat toy-buttons" %>
            <%= link_to "Update Toy", edit_toy_path(@toy), class: "btn btn-flat toy-buttons" %>
          <% end %>
          <%#= link_to "Book Toy", new_toy_booking_path(@toy), class: "btn btn-flat toy-buttons" %>

            <!-- Button trigger modal -->
          <button type="button" class="btn btn-flat toy-buttons" data-bs-toggle="modal" data-bs-target="#newBooking">
            Book now!
          </button>

          <div class="modal fade" id="newBooking" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title"><%= "You're about to book:" %></h3>
                  <h3><%= "#{@toy.name}" %><h3>

                  </button>
                </div>

                <div style="text-align: center">
                  <br>
                  <h5><%= "Please pick the dates." %></h5>
                  <div style="width:250px;text-align: center;margin: 0 auto">
                    <%= simple_form_for [@toy, @booking] do |f| %>
                      <%= f.input :start_date, label: 'Start Date', html5: true %>
                      <%= f.input :end_date, label: 'End Date', html5: true %>
                      <%= f.button :submit %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
