
<%# @toy.photos.each do |photo| %>
    <%#= cl_image_tag photo.key, crop: :thumb %>
<%# end %>
<%#= @toy.name %>
<%#= link_to "Delete Toy", toy_path(@toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>

<div class='container'>
  <% @toy.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
  <h1><%= @toy.name %></h1>
  <p><%= "Description: #{@toy.description}" %></p>
  <p><% if @toy.listed %>
      <%= p "This toy is listed for bookings and it costs $#{@toy.price}." %>
    <% end %>
  </p>
  <%= link_to "Delete Toy", toy_path(@toy), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  <%= link_to "Update Toy", edit_toy_path(@toy) %>
  <%= link_to "Book Toy", new_toy_booking_path(@toy) %>
  <%= link_to "Back to My Toys", toys_path %>
<%# raise %>
</div>
